<div class="page" *ngIf="counties$ | async as counties">
    <app-navigation class="page__navigation"></app-navigation>
    <mat-drawer-container class="page__content">
        <mat-drawer mode="side" opened>
            <app-search (search)="onSearch($event, counties)" [counties]="counties"></app-search>
        </mat-drawer>
        <mat-drawer-content>
            <ng-container *ngIf="voters$ | async as voters">
                <app-voter-list [voters]="voters"></app-voter-list>
            </ng-container>
        </mat-drawer-content>
    </mat-drawer-container>
</div>